<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.instagram.comment.dao.CommentDAO">
	<insert id="insertComment" parameterType="map">
		INSERT INTO `comment`
		(
		`userId`
		, `postId`
		, `content`
		, `createdAt`
		, `updatedAt`
		)
		VALUES
		(
		#{userId}
		, #{postId}
		, #{content}
		, NOW()
		, NOW()
		)
	</insert>

	<select id="selectCommentListByPostId" parameterType="int"
		resultType="com.instagram.comment.model.Comment">
		SELECT
		`id`
		,`userId`
		, `postId`
		, `content`
		, `createdAt`
		,
		`updatedAt`
		FROM
		`comment`
		WHERE
		`postId` = #{postId}
	</select>

	<delete id="deleteCommentByCommentIdAndUserId" parameterType="map">
		DELETE
		FROM
		`comment`
		WHERE
		`id` = #{commentId}
		AND `userId`
		= #{userId}
	</delete>

	<select id="selectCommentByPostIdOrUserId" parameterType="map"
		resultType="int">
		SELECT
		COUNT(1)
		FROM
		`comment`
		WHERE
		`postId` = #{postId}
		<if test="userId != null">
			AND `userId` = #{userId}
		</if>
	</select>
</mapper>