<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.instagram.user.dao.UserDAO">
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			,`password`
			,`phoneNumber`
			,`imagePath`
			,`name`
			,`email`
			,`introduce`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, NULL
			, NULL
			, #{name}
			, #{email}
			, NULL
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="existLoginId" parameterType="string" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<select id="selectUserByLoginIdPassword" parameterType="map"
		resultType="com.instagram.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`phoneNumber`
			,`imagePath`
			,`name`
			,`email`
			,`introduce`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
	</select>
	
	<select id="selectUserById" parameterType="int"
		resultType="com.instagram.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`phoneNumber`
			,`imagePath`
			,`name`
			,`email`
			,`introduce`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{id}
	</select>
	
	<select id="selectRecommentUserList" resultType="com.instagram.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`phoneNumber`
			,`imagePath`
			,`name`
			,`email`
			,`introduce`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
	</select>
	
	<update id="updateUserProfileImagePathByUserId" parameterType="map">
		UPDATE `user`
		SET
			<if test="imagePath != null">
			`imagePath` = #{imagePath}
			</if>
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
	
	<select id="selectUserListByUserId" parameterType="map"
			resultType="com.instagram.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`phoneNumber`
			,`imagePath`
			,`name`
			,`email`
			,`introduce`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{id}
	</select>
	
	<update id="updateDeleteUserProfileImagePathByUserId" parameterType="map">
		UPDATE `user`
		SET
			`imagePath` = NULL
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
	
	<update id="updateUserProfileDetailByUserId" parameterType="map">
		UPDATE `user`
		SET
			`loginId` = #{loginId}
			<if test="phoneNumber != null">
			, `phoneNumber` = #{phoneNumber}
			</if>
			, `name` = #{name}
			, `email` = #{email}
			<if test="introduce != null">
			, `introduce` = #{introduce}
			</if>
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
	
	<select id="selectUserList" resultType="com.instagram.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`phoneNumber`
			,`imagePath`
			,`name`
			,`email`
			,`introduce`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		ORDER BY `id` DESC
	</select>
</mapper>