@charset "UTF-8";

a {text-decoration:none; color:#000;}
a:hover {text-decoration:none; color:#000;}
.follow-btn:hover {text-decoration:none; color:#00B5E3;}
textarea {width: 100%; height: 6.25em; border: none; resize: none;}

nav {width:245px; height:100%; position: fixed;}
.contents {padding-left: 245px;}

.loginHeader {height:60px;}
.bin-box {height:50px;}
.login-contents {height:600px; width:400px;}
#signUpBtn {background:#00B5E3;}
#login {background:#00B5E3;}
#searchBtn {background:#00B5E3;}
#writeBtn {background:#00B5E3;}

.timeline-nav {height:600px; width:245px;}
.logo {height:25%;}
.menu {height:500px;}
#fileName {width:10px;}

.timeline-contents {height:600px; width:800px;}
/* 타임라인 mid */
.timeline-box {width:450px;}
.comment-btn {color: #00B5E3;}
.post-create-box {height:600px;}
section {width: 100%; height: 100%;}
.timeline-profile {width:400px}
.text-detail {color: #00B5E3;}

/* 프로필 상세영역 */
.profile-imagePath {width:240px;}
#ProfileloginId {font-size:28px;}
.user-profile-detail-box {width:613px;}
#profileDetailBtn{font-size:14px; width:100px; height:33px;}
.follow-btn {font-size:12px; color:#00B5E3;}
.another-user {width:250px;}
.post-list {width:311px;}
.user-post {width:935px;}

/* 프로필 설정 영역 */
.user-profile-detail{width:600px; height:600px;}
.profile-subject-box {font-size:18px; height:53px;}
.profile-info-box {font-size:18px; height:95px;}
.userLoginId-font-size {font-size:18px;}
.profile-imagePath-change {color:#00B5E3;}
#imagePathBtn {color:#00B5E3;}
#profileConformBtn {background:#00B5E3;}