@charset "UTF-8";

a {text-decoration:none; color:#000;}
a:hover {text-decoration:none; color:#000;}



.loginHeader {height:60px;}
.bin-box {height:50px;}
.login-contents {height:600px; width:400px}
#signUpBtn {background:#00B5E3;}
#login {background:#00B5E3;}
#searchBtn {background:#00B5E3;}
#writeBtn {background:#00B5E3;}

.timeline-nav {height:600px; width:245px;}
.logo {height:25%;}
.menu {height:400px;}
#fileName {width:10px;}

.timeline-contents {height:600px; width:800px;}
/* 타임라인 mid */
.timeline-box {width:450px; height:auto;}
.comment-btn {color: #00B5E3;}
.post-create-box {height:600px;}
section {width: 100%; height: 100%;}
.timeline-profile {width:400px}